<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>THE WT</title>
    <meta name="description" content="Discover the latest fashion and trends in menswear and womenswear at The WT. Shop this season's collection of clothes, accessories, beauty and more.">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body>
    <!-- Header -->
    <header>
        <svg viewBox="0 0 745 141" xmlns="http://www.w3.org/2000/svg" width="95px">
            <g fill="#0a0519">
                <path d="m37 29h-37v-29h106v29h-38v111h-31z"/>
                <path d="m129 0h31v55h52v-54h31v140h-31v-57h-52v57h-31z"/>
                <path d="m435.68 1h32.7l24.13 91.54 26.73-91.54h27.32l26.92 91.54 23.93-91.54h32.31l-42.88 140h-27.12l-26.92-85.55-27.12 85.55h-27.33z"/>
                <path d="m677 29h-38v-29h106v29h-37v111h-31z"/>
            </g>
            <path d="m279 0h96v29h-96z" fill="#6432ff"/>
            <path d="m283.13 112h-4.13v29h96v-29z" fill="#6432ff"/>
            <path d="m375 83v-27h-96v27h4.13z" fill="#6432ff"/>
        </svg>
    </header>
    
    <!-- Main content -->
    <main>
        <!-- Products banner -->
        <div class="products-banner">
            <div class="info">
                <h1>All products</h1>
                <p>Explore our entire range of products for both men & women.</p>
            </div>
            <select class="products-sort button-alt">
                <option value="pricehigh">Sort by price high to low</option>
                <option value="pricelow">Sort by price low to high</option>
                <option value="nameA">Sort by name (A-Z)</option>
                <option value="nameZ">Sort by name (Z-A)</option>
            </select>
        </div>
        <br>
        <!-- Products -->
        <ul class="products"></ul>
    </main>

    <!-- Cart -->
    <div class="cart"></div>
    <hr>

    <!-- Footer -->
    <footer>
        <p>Copyright &copy; 2019 Nathan Lecompte</p>
    </footer>

    <!-- Product item template -->
    <script id="product-template" type="text/x-handlebars-template">
        {{#each products}}
            <li class="product-item">
                <div class="image">
                    <img src="{{image_url}}" alt="{{name}}">
                </div>
                <div class="right">
                    <div class="header" title="Toggle product information">
                        <div class="title">
                            <b>{{category}}'s</b>
                            <h2>{{name}}</h2>
                        </div>
                        {{#-if inventory '>' 0 }}
                            <p class="quantity">{{inventory}} in stock</p>
                        {{else}}
                            <p class="quantity">Out of stock</p>
                        {{/-if}}
                        <h3 class="cost">${{unit_cost}}</h3>
                        <svg viewBox="0 0 48 48" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="m17.17 32.92 9.17-9.17-9.17-9.17 2.83-2.83 12 12-12 12z"/>
                            <path d="m0-.25h48v48h-48z" fill="none"/>
                        </svg>
                    </div>
                    <div class="info">
                        {{{description}}}
                        {{#-if inventory '>' 0 }}
                            <div class="form">
                                <input class="quantity" type="number" placeholder="Quantity" name="quantity" value="1" min="1" max="{{inventory}}" required>
                                <input class="add" data-id="{{id}}" type="submit" value="Add to Cart" title="Add to cart">
                            </div>
                        {{/-if}}
                    </div>
                </div>
            </li>
        {{/each}}
    </script>

    <!-- Cart item template -->
    <script id="cart-template" type="text/x-handlebars-template">
        <!-- Cart items -->
        <ul class="cart-items">
            {{#each cart}}
                <li class="cart-item">
                    <h3 class="name">{{name}}</h3>
                    <h4 class="cost">${{cost}}</h4>
                    <input class="quantity" data-id="{{id}}" type="number" placeholder="Quantity" name="quantity" value="{{quantity}}" min="0" required>
                </li>
            {{/each}}
            {{#-if cartCount '===' 0}}
                <div class="cart-empty">
                    <h2>:(</h2>
                    <p>Your cart is empty, choose some products from our collection!</p>
                </div>
            {{/-if}}
        </ul>
        <!-- Cart banner -->
        <div class="cart-info" title="Toggle cart">
            <h2 class="total">${{cartTotal}}</h2>
            <p>&nbsp; total in cart</p>
            <div class="icon">
                <svg viewBox="0 0 32 32" width="32" height="32" xmlns="http://www.w3.org/2000/svg">
                    <path d="m0 4h5l1 4h24l-2 14h-22l-2.5-16h-3.5zm10 20a3 3 0 0 0 0 6 3 3 0 0 0 0-6m14 0a3 3 0 0 0 0 6 3 3 0 0 0 0-6"/>
                </svg>
                <span>{{cartCount}}</span>
            </div>
            <b class="toggle">Show cart</b>
        </div>
    </script>

    <!-- Load Javascript -->
    <script src="/static/js/handlebars-v4.1.2.js"></script>
    <script src="/static/js/jquery-3.4.0.js"></script>
    <script src="/static/js/products.js"></script>
    <script src="/static/js/cart.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>


