/*** 
	Copyright 2019, Nathan Lecompte 
		ID: 45423725
***/

/* Global > Fonts > Inter
    Source: https://rsms.me/inter/
    License: OFL-1.1
*/
@font-face {
    font-family: 'Inter';
    src: local('Inter'), local('Inter-Regular'), url('/static/font/inter.woff2') format('woff2'), url('/static/font/inter.woff') format('woff');
    font-weight: 400;
    font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF
}
@font-face {
    font-family: 'Inter';
    src: local('Inter SemiBold'), local('Inter-SemiBold'), url('/static/font/inter-semibold.woff2') format('woff2'), url('/static/font/inter-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF
}
@font-face {
    font-family: 'Inter';
    src: local('Inter Bold'), local('Inter-Bold'), url('/static/font/inter-bold.woff2') format('woff2'), url('/static/font/inter-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF
}

/* Global > CSS Variables */
:root {
    --bCol: 255, 255, 255; /* Background color */
    --tCol: 0, 0, 0; /* Text color */
    --opac: .7; /* Opacity */
    --acc1: 10, 5, 25; /* Accent color 1 */
    --acc2: 100, 50, 255; /* Accent color 2 */
}

/* Global > Page */
body {
    margin: 0 20vw;
    background: #fff; /* IE */
    background: rgb(var(--bCol));
    color: rgba(0, 0, 0, .7); /* IE */
    color: rgba(var(--tCol), var(--opac));
    line-height: 2;
    font: 400 .9em 'Inter', sans-serif;
    font-feature-settings: 'ss01', 'case', 'ss03';
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.hide-scroll {
    overflow: hidden;
}

/* Global > Headings */
h1, h2, h3, h4, h5, h6 {
    margin: .5em 0;
    color: rgb(10, 5, 25); /* IE */
    color: rgb(var(--acc1));
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
h1 {
    font-size: 1.5em;
}

/* Global > Links */
a {
    border-radius: 2px;
    font-weight: 600;
    text-decoration: none;
    padding: 4px;
    color: rgb(10, 5, 25); /* IE */
    color: rgb(var(--acc1));
    white-space: nowrap;
    transition: .1s ease;
}
a:active,
a:focus {
    outline: none;
    color: rgb(10, 5, 25); /* IE */
    color: rgb(var(--acc1));
    background: rgba(10, 5, 25, .05); /* IE */
    background: rgba(var(--acc1), .05);
}

/* Global > Separators */
hr {
    margin: 40px 0;
    border: none;
    height: 2px;
    border-radius: 2px;
    background: rgba(10, 5, 25, .05); /* IE */
    background: rgba(var(--acc1), .05);
}

/* Global > Inputs */
input,
select,
input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'] {
    display: inline-block;
    padding: 15px 20px;
    height: 20px;
    font: 600 .9em 'Inter', sans-serif;
    color: rgb(10, 5, 25); /* IE */
    color: rgb(var(--acc1));
    border: none;
    background: rgba(10, 5, 25, .025); /* IE */
    background: rgba(var(--acc1), .025);
    box-shadow: inset 0 0 0 2px rgba(10, 5, 25, .075); /* IE */
    box-shadow: inset 0 0 0 2px rgba(var(--acc1), .075);
    border-radius: 2px;
    outline: none;
    transform: none;
    transition: .2s ease;
}
input:hover,
select:hover,
input[type='text']:hover,
input[type='email']:hover,
input[type='password']:hover,
input[type='number']:hover {
    box-shadow: inset 0 0 0 2px rgba(10, 5, 25, .1),
        0 2px 5px rgba(10, 5, 25, .05); /* IE */
    box-shadow: inset 0 0 0 2px rgba(var(--acc1), .1),
        0 2px 5px rgba(var(--acc1), .05);
}
input:focus,
select:focus,
input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus {
    background: rgb(255, 255, 255); /* IE */
    background: rgb(var(--bCol));
    box-shadow: inset 0 0 0 2px rgb(100, 50, 255),
        0 2px 5px rgba(100, 50, 255, .2); /* IE */
    box-shadow: inset 0 0 0 2px rgb(var(--acc2)),
        0 2px 5px rgba(var(--acc2), .2);
}
::-webkit-input-placeholder {
    text-transform: capitalize;
}
:-moz-placeholder { 
    text-transform: capitalize;
}
::-moz-placeholder {  
    text-transform: capitalize;
}
:-ms-input-placeholder { 
    text-transform: capitalize;
}

/* Global > Buttons */
.button,
input[type='submit'] {
    display: inline-block;
    padding: 15px 20px;
    height: 50px;
    font: 600 .9em 'Inter', sans-serif;
    color: rgb(255, 255, 255); /* IE */
    color: rgb(var(--bCol));
    border: none;
    border-radius: 2px;
    background: rgb(10, 5, 25); /* IE */
    background: rgb(var(--acc1));
    box-shadow: none;
    cursor: pointer;
    outline: none;
    transform: scale(1);
    transition: .2s ease;
}
.button:hover,
input[type='submit']:hover,
.button:focus,
input[type='submit']:focus {
    background: rgb(100, 50, 255); /* IE */
    background: rgb(var(--acc2));
    box-shadow: inset 0 0 0 2px rgba(10, 5, 25, .1),
        0 2px 5px rgba(100, 50, 255, .2); /* IE */
    box-shadow: inset 0 0 0 2px rgba(var(--acc1), .1),
        0 2px 5px rgba(var(--acc2), .2);
}
.button:active,
input[type='submit']:active {
    color: rgba(255, 255, 255, .7); /* IE */
    color: rgba(var(--bCol), var(--opac));
    background: rgb(100, 50, 255); /* IE */
    background: rgb(var(--acc2));
    box-shadow: inset 0 0 0 2px rgba(10, 5, 25, .1); /* IE */
    box-shadow: inset 0 0 0 2px rgba(var(--acc1), .1);
    transform: scale(.95);
    transition: .1s ease;
}


/* Header */
header {
    display: flex;
    position: relative;
    padding: 40px 20vw;
    margin: 0 -20vw;
    justify-content: center;
    background: rgba(10, 5, 25, .025); /* IE */
    background: rgba(var(--acc1), .025);
    border-bottom: 2px solid rgba(10, 5, 25, .05); /* IE */
    border-bottom: 2px solid rgba(var(--acc1), .05);
    -webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
    -ms-user-select: none;
    z-index: 99;
}


/* Main */
main {
    margin: 20px 0 0;
    z-index: 1;
    transition: .2s ease;
}
.hide-main {
    transform: scale(.98) translateY(20px);
    opacity: 0;
    height: 0;
}

/* Main > Product list */
.products-banner {
    display: flex;
    align-items: center;
    padding: 20px 0 0;
}
.products-sort {
    margin: 0 0 0 auto;
    height: auto;
}

.products {
    padding: 0;
}

.product-item {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid rgba(10, 5, 25, .05); /* IE */
    border-bottom: 2px solid rgba(var(--acc1), .05);
}
.product-item .image {
    display: flex;
    position: relative;
    flex: 1 20%;
    align-items: center;
    justify-content: center;
    background: rgba(10, 5, 25, .05); /* IE */
    background: rgba(var(--acc1), .05);
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    transition: .2s ease;
}
.product-item .image::after {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    content: 'Show info +';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: rgba(100, 50, 255, .7); /* IE */
    background: rgba(var(--acc2), var(--opac));
    color: rgba(255, 255, 255, .7); /* IE */
    color: rgba(var(--bCol), var(--opac));
    font-size: 1.1em;
    font-weight: 600;
    font-feature-settings: 'case';
    opacity: 0;
    transition: .2s ease;
}
.product-item .image:hover::after,
.product-item .image:focus::after {
    opacity: 1;
}
.product-item .image:active::after {
    opacity: 0;
}
.product-expanded .image {
    flex: 1 50%;
}
.product-expanded .image::after {
    content: 'Close info -';
}
.product-item .image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-height: 100px;
}
.product-item .right {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 0 0 40px;
}
.product-item .header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 40px;
    cursor: pointer;
}
.product-item:last-child {
    border-bottom: none;
}
.product-item .title {
    width: 100%;
    margin: -10px 20px 0 0;
    transition: .2s ease;
}
.product-expanded .title {
    margin: 10px 20px 0 0;
}
.product-item .title b {
    color: rgb(100, 50, 255); /* IE */
    color: rgb(var(--acc2));
    text-transform: capitalize;
    font-weight: 600;
    font-size: .9em;
}
.product-item .title h2 {
    margin: 5px 0 0;
    font-size: 1.2em;
    transition: .2s ease;
}
.product-item .header:hover .title h2 {
    color: rgb(100, 50, 255); /* IE */
    color: rgb(var(--acc2));
}
.product-expanded .title h2 {
    font-size: 1.4em;
}
.product-item .quantity {
    margin: 0 10px 0 0;
    white-space: nowrap;
}
.product-item .cost {
    margin: 0 0 0 auto;
}
.product-item .info {
    display: flex;
    align-items: flex-start;
    height: 0;
    margin: 0;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    transition: .2s ease;
}
.product-expanded .info {
    margin: 20px 0 0;
    height: 150px;
    opacity: 1;
}
.product-item .info p {
    width: 100%;
    margin: 0;
}
.product-item .info .form {
    margin: 0 0 0 40px;
    white-space: nowrap;
}
.product-item .info .form input[type='number'] {
    width: 60px;
}


/* Main > Cart */
.cart {
    display: flex;
    position: fixed;
    flex-direction: column;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    max-height: 100vh;
    overflow: hidden;
    background: rgb(10, 5, 25); /* IE */
    background: rgb(var(--acc1));
    box-shadow: 0 0 8px rgba(10, 5, 25, .2); /* IE */
    box-shadow: 0 0 8px rgba(var(--acc1), .2);
    color: rgba(255, 255, 255, .7); /* IE */
    color: rgba(var(--bCol), var(--opac));
    z-index: 99;
    transition: .3s ease;
}
.cart-expanded {
    height: 100vh;
}

.cart-info {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 60vw;
    align-self: stretch;
    align-items: center;
    padding: 20px 20vw;
    background: rgb(10, 5, 25); /* IE */
    background: rgb(var(--acc1));
    border-top: 2px solid rgba(255, 255, 255, .05);
    border-top: 2px solid rgba(var(--bCol), .05);
    cursor: pointer;
    transition: .2s ease;
}
.cart-info:active {
    background: rgba(255, 255, 255, .05); /* IE */
    background: rgba(var(--bCol), .05);
}
.cart-info .total {
    color: rgb(255, 255, 255); /* IE */
    color: rgb(var(--bCol));
}
.cart-info b {
    font-weight: 600;
    color: rgb(255, 255, 255); /* IE */
    color: rgb(var(--bCol));
}
.cart-info .icon {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    overflow: hidden;
    margin: 0 10px 0 auto;
}
.cart-info .icon svg {
    position: absolute;
    fill: rgb(255, 255, 255); /* IE */
    fill: rgb(var(--bCol));
    transition: .2s ease;
}
.cart-info .icon span {
    position: absolute;
    margin: -2px 0 0;
    font: 700 .7em 'Inter', sans-serif;
    color: rgb(10, 5, 25); /* IE */
    color: rgb(var(--acc1));
}

.cart-items {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    list-style: none;
    padding: 20px 20vw 0;
    margin: 0 0 90px;
    height: 100%;
    opacity: 0;
    overflow-y: scroll;
    transition: .2s ease;
}
.cart-expanded .cart-items {
    opacity: 1;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-top: 2px solid rgba(255, 255, 255, .05); /* IE */
    border-top: 2px solid rgba(var(--bCol), .05);
}
.cart-item .name {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(255, 255, 255); /* IE */
    color: rgb(var(--bCol));
}
.cart-item .cost {
    margin: 0 20px;
    color: rgb(255, 255, 255); /* IE */
    color: rgb(var(--bCol));
}
.cart-item .quantity {
    width: 60px;
    font: 600 1em 'Inter', sans-serif;
    color: rgb(255, 255, 255); /* IE */
    color: rgb(var(--bCol));
    background: transparent;
    box-shadow: inset 0 0 0 2px #fff; /* IE */
    box-shadow: inset 0 0 0 2px rgba(var(--bCol), .1);
}
.cart-item .quantity:hover {
    background: rgba(255, 255, 255, .025); /* IE */
    background: rgba(var(--bCol), .025);
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .1); /* IE */
    box-shadow: inset 0 0 0 2px rgba(var(--bCol), .1);
}
.cart-item .quantity:focus {
    background: rgba(255, 255, 255, .05); /* IE */
    background: rgba(var(--bCol), .05);
    box-shadow: inset 0 0 0 2px rgb(100, 50, 255),
        0 2px 5px rgba(100, 50, 255, .2); /* IE */
    box-shadow: inset 0 0 0 2px rgb(var(--acc2)),
        0 2px 5px rgba(var(--acc2), .2);
}
.cart-item .delete {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 10px;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, .025); /* IE */
    background: rgba(var(--bCol), .025);
    box-shadow: inset 0 0 0 2px #fff; /* IE */
    box-shadow: inset 0 0 0 2px rgba(var(--bCol), .1);
}
.cart-item .delete:hover,
.cart-item .delete:focus {
    background: rgb(100, 50, 255); /* IE */
    background: rgb(var(--acc2));
}
.cart-item .delete svg {
    stroke: rgb(255, 255, 255); /* IE */
    stroke: rgb(var(--bCol));
}

.cart-title {
    padding: 50px 0 20px;
    width: 100%;
    font: 400 1em 'Inter', sans-serif;
    color: rgba(255, 255, 255, .7); /* IE */
    color: rgba(var(--bCol), .7);
}
.cart-title h2 {
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(255, 255, 255); /* IE */
    color: rgb(var(--bCol));
}

.cart-empty {
    padding: 50px 0;
    width: 100%;
    font: 400 1em 'Inter', sans-serif;
    text-align: center;
    color: rgba(255, 255, 255, .2); /* IE */
    color: rgba(var(--bCol), .2);
}
.cart-empty h2 {
    font-weight: 600;
    color: rgba(255, 255, 255, .2); /* IE */
    color: rgba(var(--bCol), .2);
    transform: rotate(90deg);
}


/* Footer */
footer {
    text-align: center;
    margin-bottom: 140px;
}